row(spacing)
  display flex
  flex-direction row
  & > *:not(:last-child)
    margin-right spacing

column(spacing)
  display flex
  flex-direction column
  & > *:not(:last-child)
    margin-bottom spacing

html
  height 100%
body
  column(10px)
  height 100%
  margin 0px
  padding 20px
  box-sizing border-box
  font-family sans-serif
  justify-content center
  align-items center
  background #eee

h1,h2,h3,h4,h5,h6
  margin 0
h1
  text-align center
a
  color inherit
  text-decoration inherit

.row
  display flex
  flex-direction row
  & > *:not(:last-child)
    margin-right var(--spacing)

.column
  display flex
  flex-direction column
  & > *:not(:last-child)
    margin-bottom var(--spacing)

.repo
  align-items flex-end
  
.repoName
  text-decoration underline
  
.description
  color gray
  
.spacer
  flex-grow 1
  margin 0 !important
  padding 0 !important

.grid
  display grid
  white-space nowrap
  > div
    display flex
    padding 5px 10px
    &:last-child
      width 100%
  &.lined > div:not(.last)
    border-bottom 1px solid white